<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.html/styles.css')}}">
    <script src = "{{ url_for('static', filename='index.html/script.js')}}"></script>
    <title>WhentheIDE</title>
    <style>
        body {
          background-image: url("{{ url_for('static', filename='images/WhentheIDE_background.png')}}");
        }
    </style>
</head>
    <html>      
        <body>
            <a href="#Intro">
            <button>WhenTheIDE</button>
            </a>
            <div id="Intro">    
            <h1>WhenTheIDE<h1>
            <h2>Your own place to know about Twitch Streamer's and Youtubers IDE's</h2> 
            </div>
            <ul id="Listmedaddy">   
                <li><a href="#searchField">Search</a></li>
                <li style="padding-right: 40px"><a href="#aboutUsScroll">About Us</a></li>
            </ul>
            <div id="searchField">
            <h1 style="font-size: 250%">Search Here!</h1>
            <input type="search" id="input"></input><br>
            <input type="button" onclick="yup()" id="input2" value="Search"></input>
            <h2 id="result"></h2>
            </div>
            <div id="aboutUs">
                <h2>About Us</h2>
             <p>
                We are a group of 3 people:<br>
                Maulik: Maulik is our Back-end developer and our Python Wiz.<br>
                Arista: Arista is our own UI/UX art designer.<br> 
                Aadi: Aadi is our Front-end Developer and doesn't really do anything.
            </p>
            </div>
            <div id="aboutUsScroll"></div>
        </body>
 <html>
                